frontend yugabytedb_frontend
    bind *:5432
    mode tcp
    default_backend yugabytedb_backend

backend yugabytedb_backend
    mode tcp
    balance roundrobin
    server y1 10.10.10.1:5433 check
    server y2 10.10.10.2:5433 check
    server y3 10.10.10.3:5433 check
